In [ ]:
# Databricks notebook source
df = spark.createDataFrame([(1,"John"),(2,"Jane"),(3,"Bob"),(4,"Mary")],["id","name"])

COMMAND ----------

In [ ]:
df.show()

COMMAND ----------

In [ ]:
df_filtered = df.filter(df.id > 2)

COMMAND ----------

In [ ]:
df_filtered.show()

COMMAND ----------

In [ ]:
df_filtered = df.where (df.id == 2).show()

COMMAND ----------

filtros com mais de uma condição
& = and 
|(pipe) = ou/or

In [ ]:
df_filtered = df.filter( (df.id == 2) & (df.name == 'Jane') ).show()

COMMAND ----------

In [ ]:
df_teste = spark.createDataFrame([(1,"John",25),(2,"Jane",30),(3,"Bob",35),(4,"Mary",10)],["id","name","age"])

COMMAND ----------

In [ ]:
df_teste.show()

COMMAND ----------

In [ ]:
df_teste.select('id','age').show()

COMMAND ----------

filtro e seleções de campos específicos

In [ ]:
df_filtered_select = df_teste.filter(df_teste.age > 30).select('name','age')

COMMAND ----------

In [ ]:
df_filtered_select.show()