Databricks notebook source
nativamente o pyspark já tem como padrão unions e joins

COMMAND ----------

In [ ]:
df1 =  spark.createDataFrame([(1,"John"),(2,"Jane"),(3,"Bob")],["id","name"])
df2 = spark.createDataFrame([(1,"Mary"),(2,"Sue"),(3,"Mark")],["id","name"])

COMMAND ----------

In [ ]:
df2.show()
df1.show()

COMMAND ----------

union para realizar os dataframes PRECISAM TER A MESMA ESTRUTURA

In [ ]:
df_union = df1.union(df2)

COMMAND ----------

In [ ]:
df_union.show()

COMMAND ----------

In [ ]:
df1 =  spark.createDataFrame([(1,"John"),(2,"Jane"),(3,"Bob")],["id","name"])
df2 = spark.createDataFrame([(2,25),(3,30),(4,35)],["id","age"])

COMMAND ----------

In [ ]:
df2.show()
df1.show()

COMMAND ----------

join inner join

In [ ]:
df_inner = df1.join(df2,on = 'id',how = 'inner')

COMMAND ----------

In [ ]:
df_inner.show()

COMMAND ----------

In [ ]:
df_left = df1.join(df2,on = 'id',how = 'left')

COMMAND ----------

In [ ]:
df_left.show()

COMMAND ----------

In [ ]:
df_right = df1.join(df2,on = 'id',how = 'right')

COMMAND ----------

In [ ]:
df_right.show()

COMMAND ----------

In [ ]:
df_full = df1.join(df2,on = 'id',how = 'full')

COMMAND ----------

In [ ]:
df_full.show()