In [ ]:
# Databricks notebook source
from pyspark.sql.functions import orderBy

COMMAND ----------

In [ ]:
df = spark.createDataFrame([(1,"John"),(2,"Jane"),(3,"Bob"),(4,"Mary")], ["id","name"])

COMMAND ----------

In [ ]:
df.show()

COMMAND ----------

In [ ]:
df_ordered = df.orderBy('id').show()

COMMAND ----------

ordenado de forma descendente

In [ ]:
df_ordered = df.orderBy(df.id.desc()).show()

COMMAND ----------

In [ ]:
df = spark.createDataFrame([(1,"John",25),(2,"Jane",30),(3,"Bob",35),(4,"Mary",10)], ["id","name","age"])

COMMAND ----------

In [ ]:
df.show()

COMMAND ----------

In [ ]:
df_order_desc = df.orderBy('age','id').show()

COMMAND ----------

order by desc  e asc em multiplos campos

In [ ]:
df_order_desc = df.orderBy(df.id.asc(),df.age.desc()).show()