Databricks notebook source
# Ler um arquivo e fazer uma transformação no SQL
# É possível, ler um parquet, json e etc

In [ ]:
df = spark.read.csv("/FileStore/tables/sales.csv", header = True , inferSchema=True )

COMMAND ----------

In [ ]:
df.show()

COMMAND ----------

# Executar consulta SQL com o dataframe
# é necessário criar uma tabela temporária ( comando createGlobalTempView )

In [ ]:
df.createOrReplaceTempView('sales_table')

COMMAND ----------

# o retorno da querie, será armazenado na variável result

In [ ]:
result = spark.sql(" SELECT * FROM sales_table WHERE country = 'Brazil' ")

COMMAND ----------

In [ ]:
result.show()

COMMAND ----------

# salvar o result em formato parquet

In [ ]:
result.write.parquet("/FileStore/tables/result_sales.parquet")

COMMAND ----------

# listar o database onde está a tabela/view temporária recém criada. ls para listar

In [ ]:
dbutils.fs.ls("/FileStore/tables/result_sales.parquet")